{% extends 'my_site/base.html' %}

{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'my_site/style.css' %}">
<link rel="stylesheet" href="{% static 'inventory_app/inventoryHome.css' %}">    
{% endblock %}

{% block content %}
<div class='page-nav nav'>
    <ul class='page-nav-items'>
        <li><a href="{% url 'product-list' %}">Products</a><li>
            <div class='sec-nav nav'>
                <ul>
                
                    <li><a href="{% url 'product-create' %}">Create Product</a></li>
                </ul>
            </div>
        <li><a href="{% url 'item-list' %}">Items</a><li>
            <div class='sec-nav nav'>
                <ul>
                    <li><a href="{% url 'item-create' %}">Create Item</a></li>
                </ul>
            </div>      
    </ul>
    
</div>

<div class="inventory-home">   
    <div class="items-table table">
        <h3 class='table-header'>Item Inventory</h3>
        <table id="items-table">
            <tr> 
                <th>Name</th>
                <th>Description</th>
                <th>Distibutor</th>
                <th>Unit Cost</th>
                <th>Current Available</th>
            </tr>
            <tr>
                {% for item_id in items %}                
            </tr>
            <tr>
                <td>{{ item_id.name }}</td>
                <td>{{ item_id.description }}</td>
                <td>{{ item_id.distributor }}</td>
                <td>{{ item_id.unit_cost }}</td>             
                <td>{{ item_id.item_count }}</td>
                {% endfor %}
            </tr>
        </table>
    </div>
    <div class='products-table table'>
        <h3 class='table-header'>Product Inventory</h3>
        <table id="product-table">
            <tr> 
                <th>Name</th>
                <th>Description</th>
                <th>Sales Cost</th>
                <th>Unit Cost</th>
                <th>Current Available</th>
            </tr>
            <tr>
                {% for product_id in products %}                
            </tr>
            <tr>
                <td>{{ product_id.name }}</td>
                <td>{{ product_id.description }}</td>
                <td>{{ product_id.sales_cost }}</td>
                <td>{{ product_id.unit_cost }}</td>             
                <td>{{ product_id.product_count }}</td>
                {% endfor %}
            </tr>
        </table>
    </div>
</div>
{% endblock %}