{% extends 'my_site/base.html' %}

{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'my_site/style.css' %}">
    
{% endblock %}

{% block content %}
<h2>Product Inventory</h2>
<p><a href="{% url 'product-create' %}">New Product</a></p>
<table id="product">
    <h3>Products</h3>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Sales Price</th>
        <th>Current Available</th>
        <th>Items Needed</th>
    </tr>
    <tr>
    {% for product_items in product_needs %}  
    </tr>
    <tr>
        <td>{{ product_items.product.name }}</td>
        <td>{{ product_items.product.description}}</td>
        <td>{{ product_items.product.sales_cost }}</td>
        <td>{{ product_items.product.product_count }}</td>
        <td>{{ product_items.product.items }}
        <td><a href="{% url 'product-update' product_items.product.pk %}">Edit</a></td>
        <td><a href="{% url 'product-delete' product_items.product.pk %}">Delete</a></td>
        <td></td>
    <tr>
    {% endfor %}
</table>


{% endblock %}