{% extends 'my_site/base.html' %}

{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'my_site/style.css' %}">
    
{% endblock %}

{% block content %}
<h2>Product Inventory</h2>
<p><a href="{% url 'product-create' %}">New Product</a></p>
<table id="product">
    <h3>Products</h3>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Sales Price</th>
        <th>Current Available</th>
        <th>Items Needed</th>
        <th>Item Quantity</th>
    </tr>
    <tr>
    {% for product in products %}  
    
    </tr>
    <tr>
        <td>{{ product.name }}</td>
        <td>{{ product.description}}</td>
        <td>{{ product.sales_cost }}</td>
        <td>{{ product.product_count }}</td>
        <td>{% for item in product.items.all %} {{ item.name }}{% endfor %}</td>
        <td>{{ product.item_qty}}
        <td><a href="{% url 'product-update' product.pk %}">Edit</a></td>
        <td><a href="{% url 'product-delete' product.pk %}">Delete</a></td>
        <td></td>
    <tr>
    {% endfor %}
</table>


{% endblock %}

