<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fortuna-Finance Database</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap" rel="stylesheet">
  {% block head %}
  {% endblock %}
  </head>
  <body>
    <nav>
      <ul class=navItems>
        <li><a href="{% url 'home' %}" data-item='Home'>Home</a></li>
      
      
        <li><a href="{% url 'inventory_home' %}" data-item='Inventory'>Inventory</a></li>
      
      
        <li><a href="{% url 'finance_home' %}" data-item='Financial Data'>Financial Data</a></li>
      
        <li><a href="{% url 'labor_home' %}" data-item='Employees'>Employees</a></li>
      
      
        <li><a href="{% url 'pos_home' %}" data-item='Sales'>Sales</a></li>
      </ul>         
    </nav>
    
    {% block content %}
    {% endblock %}
  </body>
</html>