{% extends 'my_site/base.html' %}

{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'my_site/style.css' %}">
<link rel="stylesheet" href="{% static 'my_site/home.css' %}">    
{% endblock %}

{% block content %}
<div class="homeWelcome">
    <h1>Welcome to Fortuna</h1>
    <p>Hello {{ name }}!</p>
</div>
<div class='tiles-con'>
    <div class='tile'>
        <h3>Total Inventory</h3>
        <p></p>
    </div>
    <div class='tile'>
        <h3>Negative Inventory</h3>
        <p></p>
    </div>
    <div class='tile'>
        <h3>Daily Profit</h3>
        <p></p>
    </div>
</div>




{% endblock %}